<!-- <div class="row col-4 m-auto">
    <form #loginPage="ngForm" (ngSubmit)="submitForm(loginPage)">

        <label for="exampleInputEmail1" >Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" name="myname" required [(ngModel)]="loginPage.myname" >
        <div *ngIf="myname.touched && !myname.valid">
        
        </div>
        
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1"  required [(ngModel)]="loginPage.mypassword" >

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div> -->
